body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #14ee31, #fc2589);
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.tag {
  background: linear-gradient(to right, #f304bf, #fc4a03);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 10px;
}

h2 {
  margin: 10px 0;
  font-size: 20px;
  color: #f80404;
}

.description {
  font-size: 15px;
  color: black;
  margin-bottom: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.connect {
  font-weight: bold;
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
  font-size: 20px;
  color: #2575fc;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #7afa03;
}
